.row
  = link_to 'Create new Quotation', new_admin_quotation_path, class: 'btn btn-primary'
- unless @quotations.empty?
  .data_list
    = render partial: 'admin/quotations/lhs_table', locals: { quotations: @quotations }
