.pull-right
  = link_to admin_author_path(author), method: :delete, data: { remote: true, confirm: 'Are you sure?' } do
    %i.fa.fa-trash
  = link_to edit_admin_author_path(author) do
    %i.fa.fa-pencil
