%table.table.table-hover.table-inbox
  %thead.thead-inverse
    %tr
      %th.mw30 #
      %th Name
      %th ---
  %tbody
    - if authors.present?
      - authors.each do |author|
        %tr
          %th{scope: 'row'}= author.id
          %td= author.full_name
          %td= render partial: 'admin/authors/block_btn', locals: {author: author}
      = will_paginate authors, renderer: BootstrapPagination::Rails