- quotations.each do |quotation|
  %li{id: quotation.id}
    #quotation.quotation= quotation.full_text
    #author.author
      =link_to quotation.author.full_name, '#'
    #tags.tags
      - quotation.tags.map do |t|
        =link_to t.name, '#'
