.navbar-inverse .navbar-inner {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
}

.admin-container {
  background: #FFF;
  padding-top: 15px;
  margin-top: -20px;
}

.breadcrumb {
  padding: 0px;
  background: #D4D4D4;
  list-style: none;
  overflow: hidden;
  margin-top: 20px;
  > li + li:before {
    padding: 0;
  }
  li {
    float: left;
    &.active a {
      background: brown;
      /* fallback color */
      background: #ffc107;
    }
    &.completed a {
      background: brown;
      /* fallback color */
      background: hsla(153, 57%, 51%, 1);
    }
    &.active a:after {
      border-left: 30px solid #ffc107;
    }
    &.completed a:after {
      border-left: 30px solid hsla(153, 57%, 51%, 1);
    }
    a {
      color: white;
      text-decoration: none;
      padding: 10px 0 10px 45px;
      position: relative;
      display: block;
      float: left;
      &:after {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 30px solid hsla(0, 0%, 83%, 1);
        position: absolute;
        top: 50%;
        margin-top: -50px;
        left: 100%;
        z-index: 2;
      }
      &:before {
        content: " ";
        display: block;
        width: 0;
        height: 0;
        border-top: 50px solid transparent;
        /* Go big on the size, and let overflow hide */
        border-bottom: 50px solid transparent;
        border-left: 30px solid white;
        position: absolute;
        top: 50%;
        margin-top: -50px;
        margin-left: 1px;
        left: 100%;
        z-index: 1;
      }
    }
    &:first-child a {
      padding-left: 15px;
    }
    a:hover {
      background: #ffc107;
      &:after {
        border-left-color: #ffc107   !important;
      }
    }
  }
}

.table-inbox {
  border: 1px solid #d3d3d3;
  margin-bottom: 0;
  tr {
    td {
      padding: 12px !important;
      &:hover {
        cursor: pointer;
      }
      .fa-star {
        &.inbox-started, &:hover {
          color: #f78a09;
        }
        color: #d5d5d5;
      }
    }
    &.unread td {
      background: none repeat scroll 0 0 #f7f7f7;
      font-weight: 600;
    }
  }
}

.data_list {
  padding-top: 2em;
  ul {
    list-style-type: none;
    li {
      font-size: medium;
      border-bottom: 1px solid #c0c0c0;
      padding: 0.5em;
    }
  }
}
.publicated {
  margin-right:30px;
}