%ul
  - categories.each do |category|
    %li
      %span= category.name
      = render partial: 'admin/categories/block_btn', locals: { category: category }
      - if category.children.present?
        = render partial: 'admin/categories/sub_categories', locals: { categories: category.children }