%ul.children_category
  - categories.each do |category|
    %li
      = link_to admin_category_path(category)  do
        %span= category.name
        %i.fa.fa-pencil
      - if category.children.present?
        = render partial: 'admin/categories/sub_categories', locals: { categories: category.children }