%footer
  .col-md-4.col-lg-4
  .col-md-4.col-lg-4
  .col-md-4.col-lg-4
    Follow us:
    %ul
      %li
        = link_to 'F', '#', class: 'social facebook'
      %li
        = link_to 'VK', '#', class: 'social vk'
      %li
        = link_to 'G+', '#', class: 'social google-plus'
